<ion-view align-title="center">
    <ion-nav-bar class="preto">
    <ion-nav-title><img src='img/logo.png' /></ion-nav-title>
    </ion-nav-bar>
  <ion-content class="padding" ng-controller="CadastroCtrl">
		<div class="list list-inset">
			<div class="item item-divider">
				<h2 align="center">
					<strong>
						Envie sua foto para<br />completar seu cadastro
					</strong>
				</h2>
			</div>
			<div class="item item-thumbnail-left">
				<img ng-src="{{fotoUsuario}}" error-src="img/anonimo.jpg" />
				<h2 align="center">Foto atual</h2>
				<p>
					<button ng-click="selecionarFoto()" class="button button-block button-dark" type="button">
						<i class="ion-camera"></i>&nbsp;Alterar foto
					</button>
				</p>
			</div>
			<div class="item">
				<button class="button button-block button-login" ng-click="completarCadastro()">
					Continuar&nbsp;<i class="ion-arrow-right-c"></i>
				</button>
			</div>
		</div>
    </ion-content>
</ion-view>