<ion-view align-title="center" view-title="<img src='img/logo.png' />">
  <ion-content class="padding" ng-controller="CadastroCtrl" ng-init="init()">
      <center style="background: black;"><img  src='img/logo.png' /></center>
      <div class="list list-inset">
          <label class="item item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" placeholder="Nome da conta" ng-model="username">
          </label>
          <label class="item item-input">
              <i class="icon ion-locked placeholder-icon"></i>
              <input type="text" placeholder="Senha" ng-model="password">
          </label>
          <label class="item item-input">
              <i class="icon ion-email placeholder-icon"></i>
              <input type="text" placeholder="Email" ng-model="email">
          </label>
      <button class="button button-block button-calm" ng-click="enviar1()">Enviar</button>
      </div>
    </ion-content>
</ion-view>