<ion-view view-title="<img src='img/logo.png' />">
  <ion-content class="padding" ng-controller="CadastroCtrl">
      <center style="background: black;"><img  src='img/logo.png' /></center>
      <br>
      <center><h3>Foto atual</h3>
        <img style="display:block; width: 175px; height: 175px;" id="profileImage" src="img/anonimo.jpg" />
      </center>
        <button ng-click="getphoto()" class="button button-block button-royal" type="button">Selecione uma Foto (opcional)</button>
      <button class="button button-block button-calm" ng-click="enviar2()">Enviar</button>
<br>
    </ion-content>
</ion-view>