<ion-view align-title="center">
    <ion-nav-bar class="preto">
    <ion-nav-title><img src='img/logo.png' /></ion-nav-title>
    </ion-nav-bar>
  <ion-content class="padding" ng-controller="CadastroCtrl" ng-init="init()">
      <div class="list list-inset">
        <form name="CadForm"novalidate="">
          <label class="item item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" placeholder="Nome da conta" ng-model="username" required>
          </label>
          <label class="item item-input">
              <i class="icon ion-locked placeholder-icon"></i>
              <input type="password" placeholder="Senha" ng-model="password" required>
          </label>
          <label class="item item-input">
              <i class="icon ion-email placeholder-icon"></i>
              <input type="email" placeholder="Email" ng-model="email" required>
          </label>
      <button class="button button-block button-calm" ng-click="enviar1(CadForm)"> Enviar</button>
          </form>
      </div>
    </ion-content>
</ion-view>