<ion-view view-title="<img src='img/logo.png' />">
	<ion-content ng-controller="HomeCtrl">
		<ion-refresher refreshing-icon="ion-loop" pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
		<div class="list card">
			<div class="item item-input item-stacked-label item-icon-right">
				<span class="input-label">Publicar status</span>
				<i class="icon placeholder-icon diario-contador">{{ 140 - diariotexto.length}}</i>
				<input type="text" ng-model="diariotexto" class="diario-texto-publicar" placeholder="No que est&aacute; pensando?" maxlength="140"/>
                <img style="display:none;" id="dispImage" src="" />
			</div>
			<div class="item no-padding">
				<div class="row">
					<div class="col">
						<div class="diario-toggle-home">
							<label class="toggle toggle-energized middle">
								<input type="checkbox" checked="checked" ng-model="diariopublico" />
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
							P&uacute;blico
						</div>
					</div>
						<button ng-click="getphoto()" class="button button-royal" type="button">Foto</button>
					<div class="col">
						<button ng-click="publish()" class="button button-energized pull-right" type="button">Publicar</button>
					</div>
				</div>
			</div>
		</div>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/anonimo.jpg">
				<h2>Joseph F.</h2>
				<p>22 de abril, 2015</p>
			</div>

			<div class="item item-body">
				<p>
				  I love Ionic Framework
				</p>
				<img src="img/ionic.png">
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left diario-social-bar">
				<a href="#" class="tab-item">
					<i class="icon ion-thumbsup"></i>
					Curtir
					<span class="diario-numero-destaque">3</span>
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comentar
					<span class="diario-numero-destaque">5</span>
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Compartilhar
					<span class="diario-numero-destaque">3</span>
				</a>
			</div>
		</div>
		
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/anonimo.jpg">
				<h2>Joseph F.</h2>
				<p>22 de abril, 2015</p>
			</div>

			<div class="item item-body">
				<p>
				  I hate everything
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left diario-social-bar">
				<a href="#" class="tab-item">
					<i class="icon ion-thumbsup"></i>
					Curtir
					<span class="diario-numero-destaque">1</span>
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comentar
					<span class="diario-numero-destaque">20</span>
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Compartilhar
					<span class="diario-numero-destaque">0</span>
				</a>
			</div>
		</div>
		
		<div class="list card">
			<div class="item">
				<button type="button" class="button button-energized button-block button-large">
					<i class="ion-loop"></i>&nbsp;Carregar mais
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>