<ion-view align-title="center" view-title="<img src='img/logo.png' />">
	<ion-content ng-controller="HomeCtrl" ng-init="init()">
		<ion-refresher refreshing-icon="ion-loop" pulling-text="Puxe para atualizar" on-refresh="doRefresh()"></ion-refresher>
		<div class="list card">
			<div class="item" ng-show="exemplo">
				Exemplo
			</div>
			<div class="item item-input item-stacked-label item-icon-right">
				<span class="input-label">Publicar status</span>
				<i class="icon placeholder-icon diario-contador">{{ 140 - diariotexto.length}}</i>
				<input type="text" ng-model="diariotexto" class="diario-texto-publicar" placeholder="No que est&aacute; pensando?" maxlength="140"/>

 <div class="list list-inset">
    <div class="row" ng-repeat="foto in fotos track by $index" ng-if="$index % 3 === 0">
        <div class="col col-33" ng-if="$index < fotos.length">
            <img ng-src="{{fotos[$index]}}" width="100%" ng-click="remove($index)"/>
        </div>
        <div class="col col-33" ng-if="$index + 1 < fotos.length">
            <img ng-src="{{fotos[$index + 1]}}" width="100%" ng-click="remove($index + 1)"/>
        </div>
        <div class="col col-33" ng-if="$index + 2 < fotos.length">
            <img ng-src="{{fotos[$index + 2]}}" width="100%" ng-click="remove($index + 2)"/>
        </div>
    </div>
</div>
                
<!--                <img style="display:none;" id="dispImage" src="" /> -->
			</div>
			<div class="item no-padding">
				<div class="row">
					<div class="col">
						<div class="diario-toggle-home">
							<label class="toggle toggle-energized middle">
								<input type="checkbox" checked="checked" ng-model="diariopublico" />
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
							P&uacute;blico
						</div>
					</div>
						<button ng-click="getphoto()" class="button button-royal" type="button">Foto</button>
					<div class="col">
						<button ng-click="publish()" class="button button-energized pull-right" type="button">Publicar</button>
					</div>
				</div>
			</div>
		</div>
        
      
<div class="list card" class="row" ng-repeat="post in posts">
			<div class="item item-avatar">
				<img ng-src="{{post.ownerimg}}">
				<h2>{{post.ownername}}</h2>
				<p>{{post.date}}&nbsp;
                        <i ng-if="!post.publico" class="ion-locked"></i>
                </p>
			</div>

			<div class="item item-body">
				<p>
                    {{post.texto}}
				</p>
                <div class="list list-inset">
                    <div class="row" ng-repeat="x in post.fotos track by $index" ng-if="$index % 3 === 0">
                        <div class="col col-33" ng-if="$index < post.fotos.length">
                            <img ng-src="{{post.fotos[$index]}}" width="100%"/>
                        </div>
                        <div class="col col-33" ng-if="$index + 1 < post.fotos.length">
                            <img ng-src="{{post.fotos[$index + 1]}}" width="100%"/>
                        </div>
                        <div class="col col-33" ng-if="$index + 2 < post.fotos.length">
                            <img ng-src="{{post.fotos[$index + 2]}}" width="100%"/>
                        </div>
                    </div>
                </div>
            </div>
 
			<div class="item tabs tabs-secondary tabs-icon-left diario-social-bar">
				<a href="#" class="tab-item">
					<i class="icon ion-thumbsup"></i>
					Curtir
					<span class="diario-numero-destaque">3</span>
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comentar
					<span class="diario-numero-destaque">5</span>
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Compartilhar
					<span class="diario-numero-destaque">3</span>
				</a>
			</div>
</div>
				
		<div class="list card">
			<div class="item">
				<button type="button" class="button button-energized button-block button-large">
					<i class="ion-loop"></i>&nbsp;Carregar mais
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>