<ion-view view-title="<img src='img/logo.png' />">
  <ion-content class="padding" ng-controller="LoginCtrl">
      <center style="background: black;"><img  src='img/logo.png' /></center>
      <div class="list list-inset">
          <label class="item item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" placeholder="Conta" ng-model="username">
          </label>
          <label class="item item-input">
              <i class="icon ion-locked placeholder-icon"></i>
              <input type="password" placeholder="Senha" ng-model="password">
          </label>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
      <button class="button button-block button-calm" ng-click="loginfb()">Entrar com Facebook</button>
<hr>
      <button class="button button-block button-calm" ng-click="cadastro()">Cadastre-se agora!</button>
      </div>
    </ion-content>
</ion-view>