<ion-view view-title="<img src='img/logo.png' />">
	<ion-content>
		<ion-refresher refreshing-icon="ion-loop"></ion-refresher>
		<div class="list card">
			<div class="item item-avatar item-icon-right">
				<img src="img/anonimo.jpg">
				<h2><strong>Felipe Barros</strong></h2>
				<p>adicionou <strong>Joseph Felix</strong> como amigo!</p>
				<i class="icon ion-person-add diario-icone-notification"></i>
			</div>
			
			<div class="item item-avatar item-icon-right">
				<img src="img/anonimo.jpg">
				<h2><strong>Felipe Barros</strong></h2>
				<p>alterou seu perfil!</p>
				<i class="icon ion-gear-b diario-icone-notification"></i>
			</div>
			
			<div class="item item-avatar item-icon-right">
				<img src="img/anonimo.jpg">
				<h2><strong>Felipe Barros</strong></h2>
				<p>publicou em seu di&aacute;rio!</p>
				<i class="icon ion-document-text diario-icone-notification"></i>
			</div>
			
			<div class="item">
				<button type="button" class="button button-energized button-block button-large">
					<i class="ion-loop"></i>&nbsp;Carregar mais
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>