<ion-view view-title="<img src='img/logo.png' />">
	<ion-content>
		<ion-refresher refreshing-icon="ion-loop"></ion-refresher>
		<div class="list card">
			<div class="item item-divider">
				<h2 align="center">
					<strong>
						Solicita&ccedil;&otilde;es de amizade
					</strong>
				</h2>
			</div>
			<div class="item item-avatar item-button-right">
				<img src="img/anonimo.jpg" />
				<h2><strong>Joseph Felix</strong></h2>
				<p>05:42 - 27/06/2015</p>
				<div class="button-bar">
					<a href="#" class="button button-energized icon ion-checkmark">
					</a>
					<a href="#" class="button button-assertive icon ion-close">
					</a>
				</div>
			</div>
			<div class="item item-avatar item-button-right">
				<img src="img/anonimo.jpg" />
				<h2><strong>Joseph Felix</strong></h2>
				<p>05:42 - 27/06/2015</p>
				<div class="button-bar">
					<a href="#" class="button button-energized icon ion-checkmark">
					</a>
					<a href="#" class="button button-assertive icon ion-close">
					</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>