<ion-view align-title="center">
    <ion-nav-bar class="preto">
		<ion-nav-back-button class="button-clear">
			<i class="ion-arrow-left-c"></i>&nbsp;Voltar
		</ion-nav-back-button>
		<ion-nav-title><img src='img/logo.png' /></ion-nav-title>
    </ion-nav-bar>
	<ion-content class="padding">
		<div class="card">
			<div class="item item-divider" align="center">
				Termos de uso
			</div>
			<div class="item item-text-wrap">
				Ao criar um conta em Diário Virtual, expondo informações públicas e pessoais estará concordando automaticamente com o nosso Termo de Uso, com a nossa Política de Privacidade e Segurança e regras, que em um conjunto se torna um "contrato". Qualquer violação destas termos pode resultar na suspensão ou encerramento de sua conta.
				<br><br>
				* Você concorda que ao se tornar um membro no Diário Virtual não irá negociar, vender, anunciar, recomendar, exibir informações e imagens ilegais ou que viole alguma lei desde aplicavéis local até internacional -inclusive estatutos e regulamentos;
				<br><br>* Você concorda que ao se tornar um membro no Diário Virtual não irá expor nenhum conteúdo adulto (sexual, pornográfico) de forma explícita ou explícita independente se for visto por maiores ou menores de 18 (dezoito) anos;
				<br><br>* Você concorda que ao se tornar um membro no Diário Virtual não irá violar nenhuma patente, marca, direito autoral ou publicitário;
				<br><br>* Você concorda que ao se tornar um membro no Diário Virtual não publicará informações ameaçadoras, abusivas, vexatórias, difamatórimas, obscenas, caluniosas, insultuosas enganosas, fraudulentas, invasiva da privacidade de outrem;
				<br><br>* Você concorda que ao se tornar um membro no Diário Virtual não irá intimidar, faltar com respeito a indivíduos com base em sexo, religião, orientação sexual, raça, etnia, idade e deficiência;
				<br><br>* Você concorda que ao se tornar um membro no Diário Virtual não personificará qualquer pessoa ou entidade.
				<br><br>

				- O site têm o direito de alterar os Termos de Uso, modificar ou descontinuar todo ou qualquer parte do sistema de forma temporária ou permanente, sem aviso prévio. Caso os Termos forem alterados o membro deve rapidamente se adequar as novas normas ou implicará na violação do Termo e poderá ter sua conta suspendida ou encerrada.
				<br><br>
				- Links terceiros publicados na rede, sendo eles seguro ou de risco, não é de nossa responsabilidade se ocorrer algum relativo problema em relação a esses links. Recomendamos que antes de expor, acessar, um link fazer qualquer investigação que julga necessária antes de seguir com qualquer transação com qualquer desses terceiros.
				<br><br>
				- O acesso é livre para visitantes em membros desde que a informação seja pública. Para informações privadas somente membros com senha poderão utilizar desde recurso. Individuos não autorizados que tentam acessar estas áreas do Diário Virtual podem estar sujeitos a processo.
				<br><br>
				- Caso queria rescindir este contrato, com ou sem motivos, a qualquer momento, será possível. Ao cancelar sua conta em Diário Virtual, automaticamente não terá mais acesso aos dados anteriores.
				<br><br>
				- No caso de qualquer disposição dos Termos, no todo ou em parte, ser considerada inválida, inaplicável ou nula por qualquer razão, tal determinação afetar apenas a parte de tal disposição considerada inválida, inaplicável ou vazio , e não afetará de forma alguma o restante de tal disposição ou qualquer outra disposição dos Termos. 
				<br><br>
				- Falha de empresa para agir com relação a uma violação por você ou outros não renuncia a seu direito de agir com relação a violações subsequentes ou semelhantes. No caso de um conflito entre os Termos e da Política de Privacidade aplicável, este último deve prevalecer.
				<br><br>
				- O sistema do Diário Virtual não garante que qualquer descrição de serviço ou conteúdo deste site é verdadeira, atual, confiável, completa, ou livre de erros.
				<br><br>
				- O Diário Virtual possui um formulário de contato para que  membros possam solicitar informações ou esclarecer dúvidas em relação a rede social.
			</div>
		</div>
	</ion-content>
</ion-view>