<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta http-equiv="Content-Security-Policy" content="script-src * 'unsafe-eval';connect-src * 'unsafe-eval';object-src 'self';style-src * 'unsafe-inline';img-src *">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <style>
    .preto {
        background-color: black;
    }
    </style>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- your app's js -->
    <script src="lib/ngCordova/ng-cordova.min.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
	<script src="lib/angular-elastic.js"></script>
	<script src="lib/Autolinker.js"></script>
    <script src="js/controllers/LoginCtrl.js"></script>
    <script src="js/controllers/DiarioCtrl.js"></script>
    <script src="js/controllers/HomeCtrl.js"></script>
    <script src="js/controllers/ProfileCtrl.js"></script>
    <script src="js/controllers/CadastroCtrl.js"></script>
    <script src="js/controllers/MenuCtrl.js"></script>
    <script src="js/controllers/NotificacoesCtrl.js"></script>
    <script src="js/controllers/ConfiguracoesCtrl.js"></script>
    <script src="js/controllers/AmigosCtrl.js"></script>
    <script src="js/controllers/SolicitacoesCtrl.js"></script>
    <script src="js/controllers/MensagensCtrl.js"></script>
    <script src="js/controllers/CommentsCtrl.js"></script>
    <script src="js/controllers/PerfilCtrl.js"></script>
    <script src="js/controllers/ChatCtrl.js"></script>
    <script src="js/controllers/ChatConversationCtrl.js"></script>
    <script src="js/controllers/AppCtrl.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    </head>

	<body ng-app="diariovirtual" ng-controller="AppCtrl">
		<script id="abrir_foto.html" type="text/ng-template">
			<div class="modal">
				<header class="bar bar-header bar-energized">
					<h1 class="title">Foto de {{nome_usuario}}</h1>
					<div class="button button-clear" ng-click="closeModal()">
						<span class="icon ion-close"></span>
					</div>
				</header>
				<content has-header="true" padding="true">
					<div align="center" class="mtop60">
						<img ng-src="{{foto_atual}}" />
					</div>
				</content>
			</div>
			<!-- <div class="modal image-modal transparent" ng-click="closeModal()">
				<ion-pane class="transparent">
				</ion-pane>
			</div> -->
		</script>
		<ion-nav-view></ion-nav-view>
	</body>
</html>