* { margin: 0; padding: 0 }
ion-content {
	background-image: url('../img/bg-cadastro.jpg');
	color: #fff;
}
.ion-spin-animation { -webkit-animation: spin 1s infinite linear; -moz-animation: spin 1s infinite linear; -o-animation: spin 1s infinite linear; animation: spin 1s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); } }
.ion-load-a.ion-spin-animation { -webkit-animation-timing-function: steps(8, start); -moz-animation-timing-function: steps(8, start); animation-timing-function: steps(8, start); }

.icon-large
{
	font-size: 1.6em;
	vertical-align: middle;
}
.no-margin
{
	margin: 0 !important;
}
.no-padding
{
	padding: 0 !important;
}
.no-padding-side
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-border-top
{
	border-top: none;
}
.no-border-bottom
{
	border-bottom: none;
}
.auto-margin
{
	margin: auto;
}
.text-white
{
	color: #fff !important;
}
.relative
{
	position: relative;
}

.clear-fix
{
	clear: both;
}

.width-100
{
	width: 100%;
}

.color-orange
{
	color: orange;
}

.color-silver
{
	color: silver;
}

.color-bronze
{
	color: #644F32;
}

.color-red
{
	color: #DF2926;
}

.color-white
{
	color: white;
}

.color-yellow
{
	color: yellow;
}

.padding-4
{
	padding: 4px;
}

.height-70
{
	max-height: 100%;
	height: 73%;
}
.bar-footer {
	height: 56px;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.middle {
	vertical-align: middle;
}
.text-bottom {
	vertical-align: text-bottom;
}
.no-padding {
	padding: 0;
}
.spinner {
	stroke: #fff;
	fill: #fff;
}
.loading-container .spinner {
	vertical-align: middle;
}
.loading-container .loading span {
	font-size: 1.3em;
	font-weight: bold;
}
.diario-icon-menu {
	font-size: 1.8em;
	vertical-align: text-bottom;
	color: #fff;
	margin-right: 5px;
}
.diario-menu-left {
	border-color: #111;
	background-color: #000;
	background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
	color: #fff;
}
.diario-bar {
	border-color: #111;
	background-color: #030303;
	background-image: linear-gradient(0deg, #2A2A2A, #171515 50%, transparent 50%);
	color: #fff;
}
.diario-bar h1 {
	color: #fff;
}
.diario-menu, .diario-menu-item .item-content, .diario-menu-item {
	background: #101010;
	color: #fff;
}
.diario-menu-item h2 {
	color: #fff;
	font-weight: bold;
}
.diario-menu-item .item-content.activated, .diario-menu-item.activated {
	background: #000;
}
.diario-toggle-home {
	margin-top: 10px;
}
.tabs-icon-left.tabs .tab-item {
	font-size: 13px;
}
.diario-numero-destaque {
	max-height: 20px;
	color: #fff;
	font-weight: bold;
	background-color: #030303;
	-webkit-border-radius: 30px;
	border-radius: 63px;
	margin-top: 1px;
	line-height: 15px;
	padding: 1px 6px 2px 6px;
	display: inline-block;
}
.diario-social-bar {
	border-top: solid 1px #C0C0C0;
	background: rgb(255,255,255);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
}
.diario-texto-publicar {
	padding-right: 4.6em !important;
}
.diario-contador {
	margin-top: 25px;
}
.diario-icone-notification {
	font-size: 3em !important;
	color: #E8E8E8;
}
.button-diario {
	width: 90%;
}
.button-login, .button-login:hover {
	background-color: #F0961E;
	border-color: #F0961E;
	color: #fff;
}
.item-login-entrar {
	padding-top: 5px;
	padding-bottom: 5px;
}