* { margin: 0; padding: 0 }
ion-content {
	background-image: url('../img/bg-cadastro.jpg');
	color: #fff;
}
.ion-spin-animation { -webkit-animation: spin 1s infinite linear; -moz-animation: spin 1s infinite linear; -o-animation: spin 1s infinite linear; animation: spin 1s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); } }
.ion-load-a.ion-spin-animation { -webkit-animation-timing-function: steps(8, start); -moz-animation-timing-function: steps(8, start); animation-timing-function: steps(8, start); }

.icon-large
{
	font-size: 1.6em;
	vertical-align: middle;
}
.no-margin
{
	margin: 0 !important;
}
.no-padding
{
	padding: 0 !important;
}
.no-padding-side
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-border-top
{
	border-top: none;
}
.no-border-bottom
{
	border-bottom: none;
}
.auto-margin
{
	margin: auto;
}
.text-white
{
	color: #fff !important;
}
.relative
{
	position: relative;
}
.mt5 {
	margin-top: 5px;
}
.clear-fix
{
	clear: both;
}

.width-100
{
	width: 100%;
}

.mtop10 {
	margin-top: 10px;
}

.mtop60 {
	margin-top: 60px;
}

.max-width-100 {
	max-width: 100%;
}

.color-orange
{
	color: orange;
}

.color-silver
{
	color: silver;
}

.color-bronze
{
	color: #644F32;
}

.color-red
{
	color: #DF2926;
}

.color-white
{
	color: white;
}

.color-yellow
{
	color: yellow;
}

.padding-4
{
	padding: 4px;
}

.height-70
{
	max-height: 100%;
	height: 73%;
}
.bar-footer {
	height: 56px;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.middle {
	vertical-align: middle;
}
.text-bottom {
	vertical-align: text-bottom;
}
.no-padding {
	padding: 0;
}
.spinner {
	stroke: #fff;
	fill: #fff;
}
.loading-container .spinner {
	vertical-align: middle;
}
.loading-container .loading span {
	font-size: 1.3em;
	font-weight: bold;
}
.diario-icon-menu {
	font-size: 1.8em;
	vertical-align: text-bottom;
	color: #fff;
	margin-right: 5px;
}
.diario-menu-left {
	border-color: #111;
	background-color: #000;
	background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
	color: #fff;
}
.diario-bar {
	border-color: #111;
	background-color: #030303;
	background-image: linear-gradient(0deg, #2A2A2A, #171515 50%, transparent 50%);
	color: #fff;
}
.diario-bar h1 {
	color: #fff;
}
.chat-menu-item {
	min-height: 65px;
	height: 65px;
	max-height: 65px;
}
.diario-menu, .diario-menu-item .item-content, .diario-menu-item {
	background: #101010;
	color: #fff;
}
.diario-menu-item h2 {
	color: #fff;
	font-weight: bold;
}
.diario-menu-item .item-content.activated, .diario-menu-item.activated {
	background: #000;
}
.diario-toggle-home {
	margin-top: 10px;
}
.tabs-icon-left.tabs .tab-item {
	font-size: 13px;
}
.diario-numero-destaque {
	max-height: 20px;
	color: #fff;
	font-weight: bold;
	background-color: #030303;
	-webkit-border-radius: 30px;
	border-radius: 63px;
	margin-top: 1px;
	line-height: 15px;
	padding: 1px 6px 2px 6px;
	display: inline-block;
}
.diario-social-bar {
	border-top: solid 1px #C0C0C0;
	background: rgb(255,255,255);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
}
.diario-texto-publicar {
	padding-right: 4.6em !important;
}
.diario-contador {
	margin-top: 25px;
}
.diario-icone-notification {
	font-size: 3em !important;
	color: #E8E8E8;
}
.button-diario {
	width: 90%;
}
.button-login, .button-login:hover {
	background-color: #F0961E;
	border-color: #F0961E;
	color: #fff;
}
.item-login-entrar {
	padding-top: 5px;
	padding-bottom: 5px;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}


/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
  color: #000;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

/* input, textarea, .item-input, .item-input-wrapper {
  background-color: #f4f4f4 !important;
} */

.chat-item-input input, .chat-item-input textarea, .chat-item-input .item-input, .chat-item-input .item-input-wrapper {
  background-color: #EEEEEE !important;
}
.chat-item-input textarea {
	width: 100%;
}

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

/* loading */
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}

.diario-chat-content {
	background: #FB9F28;
}

.message-footer {
	height: 44px !important;
}